@page "/personal/dashboard"

<MudText Class="mb-4"
         Color="Color.Primary"
         Typo="Typo.h5">
    Dashboard
</MudText>
<MudGrid>
<MudItem md="3"
         sm="6"
         xs="12">
    <MudPaper Class="d-flex flex-row pt-6 pb-4"
              Elevation="25"
              Style="height:100px;">
        <MudIcon Class="mx-4"
                 Color="Color.Primary"
                 Icon="@Icons.Material.Filled.Euro"
                 Style="width:54px; height:54px;">
        </MudIcon>
        <div>
            <MudText Class="mud-text-secondary mb-n1"
                     Typo="Typo.subtitle1">
                Total Income
            </MudText>
            <MudText Typo="Typo.h5">125,000</MudText>
        </div>
    </MudPaper>
</MudItem>
<MudItem md="3"
         sm="6"
         xs="12">
    <MudPaper Class="d-flex flex-row pt-6 pb-4"
              Elevation="25"
              Style="height:100px;">
        <MudIcon Class="mx-4"
                 Color="Color.Secondary"
                 Icon="@Icons.Material.Filled.Layers"
                 Style="width:54px; height:54px;">
        </MudIcon>
        <div>
            <MudText Class="mud-text-secondary mb-n1"
                     Typo="Typo.subtitle1">
                Total Stock
            </MudText>
            <MudText Typo="Typo.h5">150,000</MudText>
        </div>
    </MudPaper>
</MudItem>
<MudItem md="3"
         sm="6"
         xs="12">
    <MudPaper Class="d-flex flex-row pt-6 pb-4"
              Elevation="25"
              Style="height:100px;">
        <MudIcon Class="mx-4"
                 Color="Color.Success"
                 Icon="@Icons.Material.Filled.Public"
                 Style="width:54px; height:54px;">
        </MudIcon>
        <div>
            <MudText Class="mud-text-secondary mb-n1"
                     Typo="Typo.subtitle1">
                Global Sales
            </MudText>
            <MudText Typo="Typo.h5">46,000</MudText>
        </div>
    </MudPaper>
</MudItem>
<MudItem md="3"
         sm="6"
         xs="12">
    <MudPaper Class="d-flex flex-row pt-6 pb-4"
              Elevation="25"
              Style="height:100px;">
        <MudIcon Class="mx-4"
                 Color="Color.Warning"
                 Icon="@Icons.Custom.Uncategorized.Radioactive"
                 Style="width:54px; height:54px;">
        </MudIcon>
        <div>
            <MudText Class="mud-text-secondary mb-n1"
                     Typo="Typo.subtitle1">
                Roentgen
            </MudText>
            <MudText Typo="Typo.h5">3,6</MudText>
        </div>
    </MudPaper>
</MudItem>
<MudItem md="6"
         sm="12"
         xs="12">
    <MudCard Elevation="25"
             Style="height:100%;">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Earning Report</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent Class="px-0">
            <MudSimpleTable Elevation="0"
                            Hover="true">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Earnings</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var report in _earningReports.OrderBy(x => x.Name))
                {
                    <tr>
                        <td>
                            <div class="d-flex flex-row">
                                <MudAvatar Class="mud-elevation-25"
                                           Image="@report.Avatar" />
                                <div class="ml-6">
                                    <MudText Typo="Typo.subtitle2">@report.Name</MudText>
                                    <MudText Typo="Typo.body2">@report.Title</MudText>
                                </div>
                            </div>
                        </td>
                        <td>
                            <MudChip Class="ml-auto mud-elevation-25"
                                     Color="@report.Severity"
                                     Label="true"
                                     Size="Size.Small">
                                @report.SeverityTitle
                            </MudChip>
                        </td>
                        <td>
                            <MudText>@report.Salary</MudText>
                        </td>
                    </tr>
                }
                </tbody>
            </MudSimpleTable>
        </MudCardContent>
    </MudCard>
</MudItem>
<MudItem md="6"
         sm="12"
         xs="12">
    <MudCard Elevation="25"
             Style="height:100%;">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Recent incidents</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent Class="px-0">
            <MudList Clickable="true">
                <MudListItem>
                    <div class="d-flex flex-row">
                        <MudAvatar Class="mud-elevation-25">
                            <MudIcon Class="mx-4"
                                     Icon="@Icons.Custom.Brands.GitHub" />
                        </MudAvatar>
                        <div class="ml-6">
                            <MudText Typo="Typo.subtitle2">Issues rising</MudText>
                            <MudText Typo="Typo.body2">Issues is almost reaching 100</MudText>
                        </div>
                        <MudChip Class="ml-auto mud-elevation-25"
                                 Color="Color.Error"
                                 Label="true"
                                 Size="Size.Small">
                            Danger
                        </MudChip>
                    </div>
                </MudListItem>
                <MudListItem>
                    <div class="d-flex flex-row">
                        <MudAvatar Class="mud-elevation-25">
                            <MudIcon Class="mx-4"
                                     Icon="@Icons.Custom.Uncategorized.Radioactive" />
                        </MudAvatar>
                        <div class="ml-6">
                            <MudText Typo="Typo.subtitle2">Incident in plant number 4</MudText>
                            <MudText Typo="Typo.body2">Fire in reactor core</MudText>
                        </div>
                        <MudChip Class="ml-auto mud-elevation-25"
                                 Color="Color.Info"
                                 Label="true"
                                 Size="Size.Small">
                            Minor
                        </MudChip>
                    </div>
                </MudListItem>
                <MudListItem>
                    <div class="d-flex flex-row">
                        <MudAvatar Class="mud-elevation-25">
                            <MudIcon Class="mx-4"
                                     Icon="@Icons.Material.Filled.Person" />
                        </MudAvatar>
                        <div class="ml-6">
                            <MudText Typo="Typo.subtitle2">Occupational injury</MudText>
                            <MudText Typo="Typo.body2">Employee broke a finger while writing some code</MudText>
                        </div>
                        <MudChip Class="ml-auto mud-elevation-25"
                                 Color="Color.Success"
                                 Label="true"
                                 Size="Size.Small">
                            Dismissed
                        </MudChip>
                    </div>
                </MudListItem>
            </MudList>
        </MudCardContent>
    </MudCard>
</MudItem>
</MudGrid>

@code {

    readonly EarningReport[] _earningReports =
    {
        new()
        {
            Name = "Lunees", Title = "Reactor Engineer", Avatar = "https://avatars2.githubusercontent.com/u/71094850?s=460&u=66c16f5bb7d27dc751f6759a82a3a070c8c7fe4b&v=4", Salary = "$0.99", Severity = Color.Success, SeverityTitle = "Low"
        },
        new()
        {
            Name = "Mikes-gh", Title = "Developer", Avatar = "https://avatars.githubusercontent.com/u/16208742?s=120&v=4", Salary = "$19.12K", Severity = Color.Secondary, SeverityTitle = "Medium"
        },
        new()
        {
            Name = "Garderoben", Title = "CSS Magician", Avatar = "https://avatars2.githubusercontent.com/u/10367109?s=460&amp;u=2abf95f9e01132e8e2915def42895ffe99c5d2c6&amp;v=4", Salary = "$1337", Severity = Color.Primary, SeverityTitle = "High"
        }
    };

    class EarningReport
    {
        public string? Avatar;
        public string? Name;
        public string? Title;
        public Color Severity;
        public string? SeverityTitle;
        public string? Salary;
    }

}
