@using AdminPortal.Enums
@inherits LayoutComponentBase
@inject UserPreferenceService UserPreferenceService;

<MudThemeProvider @bind-IsDarkMode="@_userPreference.DarkMode"
                  @ref="_themeProvider"
                  Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="_userPreference.AppBarElevation">
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudIcon Icon="@Icons.Custom.Brands.MudBlazor"
                     Size="Size.Large" />
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudIconButton Color="Color.Inherit"
                           Edge="Edge.Start"
                           Icon="@Icons.Material.Outlined.Menu"
                           OnClick="@(_ => OnDrawerToggle())" />
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.Xs">
            <MudText Class="ml-4"
                     Typo="Typo.h6">
                Admin Dashboard
            </MudText>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.Xs"
                   Invert="true">
            <MudText Typo="Typo.subtitle2">Admin Dashboard</MudText>
        </MudHidden>
        <MudSpacer />
        <MudIconButton Color="Color.Inherit"
                       Icon="@Icons.Material.Outlined.Settings"
                       OnClick="@OnSettingToggle">
        </MudIconButton>
        <MudMenu Color="Color.Inherit"
                 Dense="true"
                 Direction="Direction.Bottom"
                 Icon="@Icons.Material.Outlined.Translate"
                 OffsetY="true">
            <MudMenuItem>English</MudMenuItem>
            <MudMenuItem>Tiếng Việt</MudMenuItem>
        </MudMenu>
        <MudMenu Class="mt-1 ml-4"
                 Dense="true"
                 Direction="Direction.Left"
                 OffsetX="true">
            <ActivatorContent>
                <MudAvatar Image="https://res.cloudinary.com/tgproimagecloud/image/upload/v1638705794/TGProV3/users/admin_avatar.jpg" />
            </ActivatorContent>
            <ChildContent>
                <PersonCard Class="mt-n2" />
                <MudDivider Class="mb-2" />
                <MudListItem Href="/personal/account"
                             Icon="@Icons.Material.Outlined.Person"
                             Text="Account" />
                <MudListItem Href="/pages/authentication/login"
                             Icon="@Icons.Material.Outlined.Login"
                             Text="Logout" />
            </ChildContent>
        </MudMenu>
    </MudAppBar>
    <MudDrawer @bind-Open="_isDrawerOpen"
               ClipMode="_userPreference.DrawerClipMode"
               Elevation="_userPreference.DrawerElevation">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudToolBar DisableGutters="true">
                <MudIconButton Class="ml-3"
                               Color="Color.Inherit"
                               Icon="@Icons.Material.Outlined.Menu"
                               OnClick="@OnDrawerToggle" />
                <MudBreadcrumbs Items="_items"></MudBreadcrumbs>
                <MudSpacer />
            </MudToolBar>
        </MudHidden>
        <MudContainer Class="mt-4"
                      MaxWidth="MaxWidth.False">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<SettingLayout OnChangeThemeModeClick="@OnThemeModeChange"
               OnOpenSettingClick="@OnSettingToggle"
               Open="@_isOpenSetting">
    <div class="mb-3">
        <MudSelect Dense="true"
                   Label="Drawer Clip Mode"
                   T="string"
                   Value="_userPreference.DrawerClipMode.ToString()"
                   ValueChanged="@(newValue => OnLayoutChange(newValue, LayoutProperty.DrawerClipMode))"
                   Variant="Variant.Outlined">
            <MudSelectItem Value="@(DrawerClipMode.Always.ToString())" />
            <MudSelectItem Value="@(DrawerClipMode.Docked.ToString())" />
            <MudSelectItem Value="@(DrawerClipMode.Never.ToString())" />
        </MudSelect>
    </div>
    <div class="mb-3">
        <MudSelect Dense="true"
                   Label="Font"
                   T="string"
                   Value="_userPreference.Font"
                   ValueChanged="@OnFontChange"
                   Variant="Variant.Outlined">
            @foreach (var font in _lstFont)
            {
                <MudSelectItem T="string"
                               Value="@font" />
            }
        </MudSelect>
    </div>
    <div class="mb-2">
        <MudSlider Max="25"
                   Min="0"
                   Step="1"
                   T="int"
                   Value="@_userPreference.BorderRadius"
                   ValueChanged="@(newValue => OnLayoutChange(newValue, LayoutProperty.BorderRadius))">
            <MudText Class="mb-2"
                     Typo="Typo.body2">
                Border Radius: <b>@($"{_userPreference.BorderRadius}px")</b>
            </MudText>
        </MudSlider>
    </div>
    <div class="mb-2">
        <MudSlider Max="24"
                   Min="0"
                   Step="1"
                   T="int"
                   Value="@_userPreference.AppBarElevation"
                   ValueChanged="@(newValue => OnLayoutChange(newValue, LayoutProperty.AppBarElevation))">
            <MudText Class="mb-2"
                     Typo="Typo.body2">
                AppBar Elevation: <b>@($"{_userPreference.AppBarElevation}")</b>
            </MudText>
        </MudSlider>
    </div>
    <div class="mb-2">
        <MudSlider Max="24"
                   Min="0"
                   Step="1"
                   T="int"
                   Value="@_userPreference.DrawerElevation"
                   ValueChanged="@(newValue => OnLayoutChange(newValue, LayoutProperty.DrawerElevation))">
            <MudText Class="mb-2"
                     Typo="Typo.body2">
                Drawer Elevation: <b>@($"{_userPreference.DrawerElevation}")</b>
            </MudText>
        </MudSlider>
    </div>
</SettingLayout>
