@page "/application/email/{folder?}"
@inject NavigationManager navigationManager

<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <MudText Class="mb-4"
             Color="Color.Primary"
             Typo="Typo.h5">
        Email Application
    </MudText>
</MudHidden>
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <MudPaper Class="d-flex align-center py-1 mb-4"
              Elevation="25">
        <MudIconButton Class="ml-3 mr-2"
                       Color="Color.Inherit"
                       Icon="@Icons.Material.Outlined.Menu"
                       OnClick="@(OpenDrawer)" />
        <MudText Color="Color.Primary"
                 Typo="Typo.h6">
            Email Application
        </MudText>
    </MudPaper>
</MudHidden>
<div class="d-flex flex-grow-1 flex-row">
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudPaper Class="px-3 py-6 mr-6"
                  Elevation="25"
                  MinWidth="250px">
            <MudButton Class="my-2"
                       Color="Color.Primary"
                       FullWidth="true"
                       Size="Size.Large"
                       Variant="Variant.Filled">
                Compose
            </MudButton>
            <EmailNavList folder="@Folder" />
        </MudPaper>
    </MudHidden>
    <MudPaper Class="py-4 flex-grow-1"
              Elevation="25">
        <MudToolBar Dense="true"
                    DisableGutters="true">
            <MudCheckBox Class="ml-2"
                         Label="Select All"
                         T="bool" />
            <MudSpacer />
            <MudIconButton Class="mx-2"
                           Icon="@Icons.Material.Outlined.NavigateBefore" />
            <MudIconButton Class="mr-4"
                           Icon="@Icons.Material.Outlined.NavigateNext" />
        </MudToolBar>
        @if (Folder == "inbox")
        {
            <Inbox />
        }
        else
        {
            <MudText Align="Align.Center"
                     Class="mt-16">
                No Emails :(
            </MudText>
        }
    </MudPaper>
</div>
<MudDrawer Anchor="@Anchor.Left"
           @bind-Open="@_open"
           Elevation="1"
           Variant="@DrawerVariant.Temporary">
    <MudButton Class="mx-4 mt-6 mb-4"
               Color="Color.Primary"
               Size="Size.Large"
               Variant="Variant.Filled">
        Compose
    </MudButton>
    <EmailNavList folder="@Folder" />
</MudDrawer>


@code
{
    bool _open;

    [Parameter]
    public string? Folder { get; set; }

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(Folder))
        {
            Folder = "inbox";
        }
    }

    void OpenDrawer()
    {
        _open = true;
    }
}
